<div class="nav-collapse">
  <ul class="nav pull-left">
    <%= content_tag :li, link_to('Home', root_path) -%>
    <%= content_tag :li, link_to('About', about_path) -%>
    <%= content_tag :li, link_to('Events', events_path) -%>
    <%= content_tag :li, link_to('Blog', articles_path) -%>
  </ul>
  <ul class="nav pull-right">
    <% if user_signed_in? %>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <%= current_user %>
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <% if can? :access, :rails_admin, current_user %>
            <li><%= link_to 'rails admin', rails_admin_path %></li>
          <% end %>
          <li><%= link_to 'change profile', edit_user_registration_path %></li>
          <li><%= link_to 'sign out', destroy_user_session_path, :method => :delete %></li>
        </ul>
      </li>
    <% else %>
      <!-- <li <%= 'class=active' if current_page? new_user_registration_path %>> -->
      <!--   <%= link_to 'sign up', new_user_registration_path %> -->
      <!-- </li> -->
      <li>
        <%= link_to 'Sign in', new_user_session_path %>
      </li>
    <% end %>
  </ul>
</div>
