<%- set_title "Home" %>

<div id="attending">
  <%= image_tag("rg1.png", class: "pull-left") %>
  <div class="pull-left">
    =>
  </div>
  <%= image_tag("rg2.png", class: "pull-left") %>
</div>

<% unless @event.nil? %>
  <div id="event">
    <% if !user_signed_in? or @event.date != Date.today or @attended%>
      <%= link_to 'Warming up', @event %>
    <% else %>
      <%= link_to 'Enjoy now!', attend_event_path(@event)%>
    <% end %>

    <h1 id="event-title">
      <%= @event.title %>
    </h1>
    <p>
      <%= markdown @event.summary %>
    </p>
  </div>
<% end %>
